<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDooleanList</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <nav>
      <a href="#"><img id="logo" src="img/logo.png" alt=""></a>
      <h1>Che Programmi Hai oggi?</h1>
    </nav>


    <!-- applicazione  -->
    <div id="app">
      <form>
        <span style="margin-right:10px;">Devo Fare questo:</span>
        <input v-model="todo" v-on:keyup.enter="printodo" type="text" placeholder="nuovo To Do">
        <button @click="printodo" type="button" name="button">Aggiungi Task</button>
        <ul>
          <li contenteditable="true" v-for="(item, i) in toDoList">
            {{toDoList[i]}}
            <i @click="" class="fas fa-edit"></i>
            <i @click="deletetodo(i)" class="fas fa-trash-alt"></i>
          </li>
        </ul>
      </form>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
